openapi: 3.2.0
info:
  title: Okra API (Historical) Accounts Banks API
  description: RETIRED.
  version: '2.0'
  contact:
    name: Okra (defunct)
    url: https://okra.ng
  x-status: retired
  x-ceased-operations: 2025-05
  x-grounding: Endpoint paths, base URL, and Bearer-secret auth confirmed from github.com/okraHQ/okra-node (archived 2024-02-09). Body schemas modeled.
servers:
- url: https://api.okra.ng/v2
  description: Production (retired - no longer resolves)
- url: https://api.okra.ng/v2/sandbox
  description: Sandbox (retired - no longer resolves)
security:
- okraSecret: []
tags:
- name: Banks
  description: Reference list of connectable banks.
paths:
  /banks/list:
    post:
      operationId: listBanks
      tags:
      - Banks
      summary: List connectable banks
      requestBody:
        $ref: '#/components/requestBodies/EmptyFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /banks/getById:
    post:
      operationId: getBankById
      tags:
      - Banks
      summary: Get a bank by id
      requestBody:
        $ref: '#/components/requestBodies/IdFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  requestBodies:
    EmptyFilter:
      description: Modeled empty/optional filter body.
      required: false
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
    IdFilter:
      description: Modeled id-lookup body.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IdFilter'
  responses:
    OkraData:
      description: MODELED. Okra responses were JSON envelopes of the form {status, message, data}. The exact `data` shape varied per product and is not reproduced authoritatively here.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OkraEnvelope'
    Unauthorized:
      description: Missing or invalid Okra Secret.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OkraEnvelope'
  schemas:
    IdFilter:
      type: object
      description: Modeled. Single-resource lookup by id.
      properties:
        id:
          type: string
      required:
      - id
      additionalProperties: true
    OkraEnvelope:
      type: object
      description: Modeled Okra response envelope.
      properties:
        status:
          type: string
          example: success
        message:
          type: string
        data:
          type: object
          additionalProperties: true
      additionalProperties: true
  securitySchemes:
    okraSecret:
      type: http
      scheme: bearer
      description: 'Okra Secret key issued in the Okra dashboard, sent as `Authorization: Bearer <secret>`. Confirmed from okraHQ/okra-node.'
